* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #171717;
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    font-size: 13px;
    color: white;
}

.title {
    text-shadow: 0px 4px 3px rgba(255, 255, 255, 0.4),
        0px 8px 13px rgba(255, 255, 255, 0.102),
        0px 18px 23px rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;

}

.container {
    height: 100%;
}

section {
    height: 100%;
    gap: 15px;
}

.content--grid {
    height: 70%;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    box-shadow: hsla(0, 0%, 100%) 1px 2px 8px;
    color: #fff;
}

#color-picker {
    width: 75%;
    gap: 20px;
}

#background {
    width: 75%;
    gap: 20px;
}

