body {
    height: 100vh;
    background-color: rgb(118, 135, 152, 0.15);
}

#container {
    height: 70%;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.container {
    height: 100%;
}